#xil
*.log
.history
*.snap
*.pdom
.markers
webtalk
RemoteSystemsTempFiles
theremin_hw.cache
theremin_hw.hw
theremin_hw.ip_user_files
theremin_hw.runs
theremin_hw.sdk
theremin_io.cache
theremin_io.hw
theremin_io.ip_user_files
theremin_io.runs
theremin_io.sim
RemoteSystemsTempFiles


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#LTSpice
*.raw
*.plt
